#include "Fern.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan; // 실제 스위치가 없으므로 mock 사용
        zmk,matrix_transform = &default_transform;
    };

    mock_kscan: kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
