if SHIELD_Fern_left

config ZMK_KEYBOARD_NAME
    default "Fern"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Fern_left || SHIELD_Fern_right

config ZMK_SPLIT
    default y

endif
