/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAVI 1

/ {
    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓      ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            // ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃      ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫      ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃      ┃     H     ┃     J     ┃     K     ┃     L     ┃     :     ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫      ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃      ┃     N     ┃     M     ┃     <     ┃     >     ┃     ?     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫      ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    &mo    ┃   ENTER   ┃      ┃   SPACE   ┃    BSPC   ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┛      ┗━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
&mo 1  &kp BACKSPACE  &kp SPACE  &kp KP_ENTER  &kp I  &kp U  &kp O  &kp Y  &kp P  &kp K  &kp J  &kp L  &kp H  &kp SEMICOLON  &kp COMMA  &kp M  &kp PERIOD  &kp N  &kp SLASH  &kp E  &kp W  &kp R  &kp T  &kp Q  &kp D  &kp S  &kp F  &kp G  &kp A  &kp C  &kp X  &kp V  &kp B  &kp Z
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        nav_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "1";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓      ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            // ┃     N1    ┃     N2    ┃     N3    ┃     N4    ┃     N5    ┃      ┃     N6    ┃     N7    ┃     N8    ┃     N9    ┃     N0    ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫      ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃     A     ┃     UP    ┃     D     ┃     F     ┃     G     ┃      ┃     H     ┃     J     ┃     K     ┃     L     ┃     :     ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫      ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃    LEFT   ┃    DOWN   ┃   RIGHT   ┃     V     ┃     B     ┃      ┃     N     ┃     M     ┃     <     ┃     >     ┃     ?     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫      ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃   SPACE   ┃   NAVI    ┃      ┃   SPACE   ┃   LAYER   ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┛      ┗━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
&none  &kp BACKSPACE  &kp SPACE  &kp KP_ENTER  &kp N8  &kp N7  &kp N9  &kp NUMBER_6  &kp N0  &kp K  &kp J  &kp L  &kp H  &kp SQT  &kp COMMA  &kp M  &kp PERIOD  &kp N  &kp SLASH  &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_4  &kp N5  &kp NUMBER_1  &kp D  &kp UP_ARROW  &kp F  &kp G  &kp A  &kp RIGHT  &kp DOWN_ARROW  &kp V  &kp B  &kp LEFT_ARROW
            >;
        };
    };
};
